*{
    /* outline: 1px solid pink; */
    /*thank you Vison for the help ..I'm hoping this stuff is sinking in!*/
    margin: 0px;
    padding: 0px;
    /* box-sizing includes the padding and border when calculating width */
    box-sizing: border-box;
}
.button {
    background-color: purple;
}
.book {
    font-style: italic;
}
.col {
    /* set the universal stylings for all columns, regardless of screen size */
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}
.row {
    /* set any stylings you would like for each row, regardles of screen size */
    padding: 10px;
    border: 3px solid blue;
}
@media only screen and (max-width: 480px){
    /* we will set these stylings only if the device is a screen with a width of 480px or less */
    .sm-4 {
        width: 100%;
    }
    .sm-0 {
        display: none;
    }
}
@media only screen and (min-width: 481px){
    /* we will set these stylings only if the device is a screen with a width of 480px or less */
    .med-2 {
        width: 50%;
    }
}
@media only screen and (min-width: 1024px){
    /* we will set these stylings only if the device is a screen with a width of 480px or less */
    .lg-1 {
        width: 25%;
    }
    .lg-3 {
        width: 75%;
    }
}



